.navbar {
  display: flex;
  background-color: darkcyan;
  font-size: 2rem;
  line-height: 3rem;
}

.logo {
  display: flex;
  position: relative;
  padding-left: 1rem;
}

.rightMenu {
  font-size: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  background-color: teal;
}

.rightMenu .rightMenuItem {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.rightMenu > li {
  position: relative;
}

.rightMenu > li:hover {
  background-color: turquoise;
}

.rightMenu .dropdown {
  display: none;
}

.rightMenu > li:hover .dropdown {
  display: block;
  list-style: none;
  position: absolute;
  padding: 0;
  right: 0.5rem;
  flex-direction: column;
  align-items: center;
  background-color: teal;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.rightMenu .dropdown li {
  position: relative;
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  border-left: 3px solid transparent;
}

.rightMenu .dropdown li:not(:last-child) {
   border-bottom: 1px solid cadetblue;

}

.rightMenu .dropdown li:hover {
  background-color: cadetblue;
  border-color: turquoise;
}
